.itemDisplayText,
.mainUL a, 
.mainUL i,
footer nav a,
footer button{
    &:hover{
    color:rgb(94, 94, 94);
    }
    &:focus-within{
        color:rgb(94, 94, 94);
        }
}

.itemConfigSection{
    button[type="submit"]:hover,
    button[type="submit"]:focus-within{
        background:white;
        color:black;
        border:1px solid black;
    }
}



// scrolling animation on banner 
