.topNav{
    position:absolute;
    top:0;
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.mainUL{
    display:flex;
    width:100%;
    justify-content: space-evenly;

    li{
        position:relative;
        a{
            color:white;
            @include fontSize(20);
        }
    }
    li:hover >.subUL{
        display:flex;
        flex-direction:column;
    }

}

.subUL{
    position:absolute;
    background:rgba(93, 93, 93, 0.664);
    li{
        a{
            padding:10%;
            display:block;
            color:white;
        }
    }
}

.subUL{
    display:none;
}

.logo{
    width:100%;
    padding:20px 0;
    p{
        text-align: center;
        @include fontSize(50);
        text-transform:uppercase;
        color:rgb(219, 218, 218);
        letter-spacing: -8px;
    }
}
// Search Checkbox LI Formatting
.searchLI,
.mobileSearchLI{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    input[id="searchLI"],
    input[id="mobileSearchLI"]{
        padding:2%;
        height:0;
        width:0;
        border:1px solid transparent;
        transition: 0.5s;
        margin:0 8%;
        color:black;
    }
    input[placeholder]{
        padding:1%;
    }
    input[type="checkbox"]{
        display:none;
        &:checked~input[type="text"]{
        height:100%;
        width:100%;
        border:1px solid rgb(192, 192, 192);
        // position:relative;
        }
        &:checked~button[type="submit"]{
            display:initial;
        }
    }
}

// submit search button
nav button[type="submit"]{
    display:none;
    background:transparent;
    color:black;
    border:none;
}

.mainUL a, .mainUL i{
    text-transform: uppercase;
}

.subUL:first-child{
    font-weight:500;
}

.mainUL .saleLink{
    color:rgb(143, 18, 43);
    font-weight:500;
}


// mobile nav
label[for="navToggle"]{
    display:none;
    position:fixed;
    left:8%;
    top:25px;
    border:1px solid white;
    border-radius: 8px;
    padding:5px;
    z-index: 2;

    i{
        @include fontSize(36);
        color:white;
    }
}

.mobileNav{
    // display:none;
    background:white;
    opacity: 80%;
    position:absolute;
    z-index:1;
    width:30%;
    left:-100%;
    transition: 500ms;
}

input[name="navToggle"]:checked ~ .mobileNav{
    left:0;
}
input[name="navToggle"]:checked + label[for="navToggle"]
{
    border:1px solid black;
    i{
        color:black;
    }
}

.mobileNav{
    .mobileNavUL{
        display:flex;
        flex-direction: column;
        justify-content: center;
        height:100vh;
        align-items: center;
        li{
            padding:2%;
            a{
                color:black;
            }
        }
    }
}


.shoppingCart{
    position:fixed;
    bottom:0;
    right:20px;
    background:white;
    padding:10px 15px;
    border-radius:2px;
    z-index:2;

    a{
        display:flex;
    }

    i{
        color:black;
    }

    .addedToCart{
        height:0;
        max-width:300px;
    }
    
    &:hover>.addedToCart,
    &:hover>.addedToCart .checkOutItem,{
        height:100%;
        display:flex;
    }

    p{
        color:black;
    }
}